body {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #f0f0f0;    
    margin: 0;
    padding: 0;    
    display: block;
    overflow: hidden;
}

/* *Contenedor Principal (Tarjeta) */

.movie-detail-card{
    background-color: #18181b; 
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

/* *Header y Carátula */
.movie-hero {
    position: relative;
    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.poster-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.movie-hero .close-button{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: #18181b; 
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* *Contenido de la Película */

.movie-info {
    padding: 10px 20px 30px 20px;
    width: auto;
}

.movie-title {
    font-size: 2.2em;
    margin: 0 0 5px 0;
    color: white;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7); 
}
.movie-tags {
    font-size: 0.9em;
    color: #1d9bbb;
    margin-bottom: 20px;
}

.separator {
    border: none;
    border-top: 1px solid #1d9bbb;
    margin: 20px 0;
}

/* *Contenido de texto */
.synopsis p, .credits p {
    font-size: 15px;    
    color: #cccccc;
    margin-bottom: 20px;
    margin-top: 0;
}
.credits{
    padding-bottom: 7px;
}

/* *Estilo para el texto "Reparto:" */
.credits strong {
    color: #1d9bbb;
}

/* *Botón "VER PELÍCULA" */

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    padding: 12px 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    background: linear-gradient(to right, #1d9bbb 20%, #7a4493 100%); 
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.action-button:hover{
    transform: scale(1.1);
    transition: .3s;
}

.action-button span {
    margin-left: 10px; /* Espacio para el icono de play */
    font-size: 1.2em;
}